<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creá tu laberinto</title>
    <link rel="stylesheet" href="/css/crear-laberinto.css">
</head>
<body>
    <h1>¡Creá tu propio laberinto!</h1>
    <div id="inputs">
        <h3>Elegí cuantas celdas querés que tenga tu laberinto</h3>
        <input id="input-filas" type="number" placeholder="Filas">
        <input id="input-columnas" type="number" placeholder="Columnas">
        <button id="btn-crear">Crear</button>
        <h4></h4>
    </div>

    <div id="div-laberinto"></div>
    <div id="div-btn-cargar">
        <button id="btn-cargar" style="display: none;">Guardar laberinto</button>
    </div>

    <script src="/js/crear-laberinto.js"></script>
</body>
</html>