body {
    user-select: none;
}

.fila-laberinto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.celdas-laberinto {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    display: inline-block;
}

/* ESTADOS */
.celda {
    background-color: #c0c0c0;
}

.pared {
    background-color: #202020;
}

.jugador {
    background-color: blue;
}

.salida {
    background-color: red;
}
/* ESTADOS */